html, body {
    height: 100%; /* Asegura que el cuerpo ocupe el 100% del alto de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
    
}

body {
    display: flex;
    flex-direction: column; /* Configura el cuerpo como un contenedor flex vertical */
    min-height: 100vh; /* Garantiza que ocupe al menos toda la pantalla */
    background-color: #0A0A0A;
    
}

main {
    flex-grow: 1; /* Hace que el contenido principal ocupe el espacio restante */
}


#obj img {
    width: 150px;
}

#obj h1 {
    margin: 5px;
    font-size: 20px;
}

.card-text{
    font-size: 12px;
    margin-bottom: -1px;
    
}
#pre{
    font-size: 20px;
    text-align: center;
}

.offcanvas-title, .form-label{
    color: #F8F1E5;
}

/* Ajustar el footer */

  /* Ajustes para las tarjetas */
.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}
  
.collapse {
    transition: all 0.3s ease-in-out;
}
  
.collapse p {
    margin-bottom: 0.5rem;
}
  
.btn-light {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #000;
    font-weight: bold;
    border-color: #ddd;
}
  
.btn-light i {
    transition: transform 0.3s ease;
}
  
.btn-light[aria-expanded="true"] i {
    transform: rotate(180deg);
}

.card {
    height: 100%; /* Fuerza la altura completa */
}
  
.collapse {
    max-height: 100px; /* Limita la altura máxima del contenido expandido */
    overflow-y: auto; /* Habilita el desplazamiento si el contenido es muy largo */
}
  